{{#is "post"}}
{{#if @custom.show_all_tags}}
    <div class="post-tags">
        <span class="post-tag-prefix">{{@custom.tag_prefix}}</span>
        {{#foreach tags}}
        <span><a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a></span>
        {{/foreach}}
    </div>
{{else}}
    {{#primary_tag}}
    <div class="post-tags">
        <span class="post-tag-prefix">{{@custom.tag_prefix}}</span><a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a>
    </div>
    {{/primary_tag}}
{{/if}}
{{/is}}
