{{#is "post"}}
<div class="post-meta">
    <span>{{@custom.date_prefix}} <time class="post-meta-item post-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time></span>

    {{#if @custom.show_read_time}}
        <span class="post-meta-item post-meta-length">{{reading_time}}</span>
    {{/if}}

    {{#if @site.comments_enabled}}
        {{comment_count class="post-meta-item"}}
    {{/if}}

    {{#if featured}}
        <span class="post-meta-featured">
            {{> "icons/star"}}
        </span>
    {{/if}}
</div>
{{/is}}
