<div class="post-meta">
    {{#unless access}}
    {{^has visibility="public"}}
        {{> "icons/lock"}}
    {{/has}}
    {{/unless}}
    {{^is "page"}}
    <span class="post-meta-item post-meta-date">{{@custom.date_prefix}} <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time></span>
    {{/is}}

    {{#if @custom.show_read_time}}
        <span class="post-meta-item post-meta-length">{{reading_time}}</span>
    {{/if}}

    {{#if @site.comments_enabled}}
        {{comment_count class="post-meta-item"}}
    {{/if}}

    {{^is "page"}}
    {{#if featured}}
        <span class="post-meta-featured">
            {{> "icons/star"}}
        </span>
    {{/if}}
    {{/is}}
</div>
