{{!< default}}

<div class="content-area gh-outer">
<main class="site-main gh-inner">

    {{#tag}}
        <section class="term">
            <div class="term-wrapper">
                <h1 class="term-name">{{name}}</h1>
                {{#if description}}<div class="term-description">{{#if @custom.html_descriptions}}{{{description}}}{{else}}{{description}}{{/if}}</div>{{/if}}
            </div>
        </section>
    {{/tag}}

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{#if @custom.use_pagination}}
    {{pagination}}
    {{/if}}
</main>
</div>